/* ------------Universal Formal----------- */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* -- Navigation Area-- */
.navbar {
  font-family: "Maven Pro", sans-serif;
  background-color: #172e08;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.navbar-brand {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
  color: #5edb12;
}

.navbar-brand:hover {
  font-size: 19px;
}

.logo {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
  color: #5edb12;
}

.logo:hover {
  font-size: 19px;
  color: #5edb12;
}

.dropdown-toggle {
  font-size: 15px;
  transition: 0.5s;
}

.dropdown-toggle:hover {
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0e341c;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  min-width: 20vh;
}
.dropdown-item {
  color: #f8faf8;
  font-size: 13px;
  transition: 0.5s;
}

.dropdown-item:hover {
  font-size: 14px;
  color: white;
  background-color: #454645;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.access-btn {
  background-color: #0e341c;
}

.access-btn:hover {
  background-color: #0e341c;
}

.get-in {
  color: white;
  transition: 0.5s;
  font-size: 15px;
}

.get-in:hover {
  font-weight: 100px;
  border-color: #fff;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

a {
  color: white;
  transition: 0.5s;
}

a:hover {
  font-weight: 100px;
  border-color: #fff;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}
/* ------------Sign Up Form----------- */
.signup-page {
  margin-top: 6%;
  background-color: #0e341c;
  padding: 2% 15%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 3px 4px 7px rgba(5, 131, 163, 0.8);
  opacity: 0.95;
}

.title {
  font-weight: bold;
  font-size: 34px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea {
  font-size: 14px;
}

strong {
  font-size: 14px;
}

option {
  font-size: 14px;
}

.form-check {
  margin-top: 1.5%;
}

select[id="region"],
select[id="gender"] {
  font-size: 14px;
}

.form-check-label {
  font-size: 14px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.terms {
  color: white;
  font-weight: bold;
  transition: 0.5s;
  font-size: 14px;
  text-decoration: underline;
}

.terms:hover {
  font-size: 15px;
  color: white;
}

.btn-success {
  padding: 5% 20%;
  border-radius: 2%;
  background-color: #006400;
}
.btn-success:hover {
  background-color: #006400;
}

.register {
  text-align: center;
  font-size: 18px;
  transition: 0.5s;
}

.register:hover {
  text-align: center;
  font-size: 20px;
}

.confirmation {
  font-size: 17px;
  font-weight: bold;
}

.login-button {
  color: white;
  font-weight: bold;
  transition: 0.5s;
  font-size: 17px;
}

.login-button:hover {
  color: white;
  font-weight: bold;
  font-size: larger;
}

/* -----CALL TO ACTION---- */

.calltoaction-page {
  min-width: 100vw;
  min-height: 100%;
  margin-top: 2%;
  background-color: #454645;
  background-size: cover;
  padding: 0% 3%;
  opacity: 0.95;
}

.jumbotron {
  margin: 1%;
  background-color: inherit;
  color: white;
}

.h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(5, 117, 80, 0.8);
  box-shadow: 3px 4px 7px rgba(5, 131, 163, 0.8);
}

.lead {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(5, 117, 80, 0.8);
}

.btn-info {
  background-color: #006400;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(6, 31, 22, 0.8);
  transition: 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.btn-info:hover {
  background-color: #006400;
  font-size: 27px;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(6, 31, 22, 0.8);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

/* -----FOOTER--- */

.footer-page {
  min-width: 100vw;
  min-height: 100%;
  margin-top: -0.98%;
  background-color: #172e08;
  background-size: cover;
  background-position: center;
  padding: 2% 2%;
  color: white;
}

.foot-note {
  text-align: right;
  margin-top: 0.5%;
}

.foot-note-2 {
  line-height: 0.6;
}

.f-title {
  text-align: right;
  font-size: 15px;
  text-shadow: 3px 4px 7px rgba(6, 31, 22, 0.8);
  font-weight: bold;
}

.end-btn {
  font-size: 20px;
  transition: 0.5s;
  font-weight: bold;
}

.end-btn:hover {
  font-size: 21px;
}

.ft-link {
  text-align: right;
  font-size: 14px;
  color: white;
  transition: 0.5s;
}

.ft-link:hover {
  text-align: right;
  font-size: 15px;
  color: white;
}

.terms {
  font-weight: 600;
  font-size: 14px;
}

.terms:hover {
  color: white;
  font-size: 15px;
}

.social-icons {
  font-size: 20px;
  transition: 0.5s;
}

.social-icons:hover {
  font-size: 22px;
}

a {
  color: white;
  transition: 0.5s;
} /* ALL LINKS */

a:hover {
  font-weight: 100px;
  border-color: #fff;
  color: #fff;
  font-size: 19px;
}

/* Responsive layout */

@media only screen and (max-width: 575px) {
  /* styles for small phones */

  .signup-page {
    margin-top: 15%;
    padding: 2% 15%;
    min-width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="password"],
  textarea {
    font-size: 11px;
  }

  select[id="region"],
  select[id="gender"] {
    font-size: 11px;
  }

  label {
    font-size: 12px;
    font-weight: bold;
  }

  .ft-link {
    font-size: 13px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* styles for large phones and portrait tablets */

  .signup-page {
    margin-top: 15%;
    padding: 2% 15%;
    min-width: 100%;
  }

  .f-title {
    font-size: 15px;
  }

  .ft-link {
    font-size: 13px;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* styles for landscape tablets and small laptops */

  .signup-page {
    margin-top: 10%;
    min-width: 100%;
  }

  .f-title {
    font-size: 15px;
  }

  .ft-link {
    font-size: 13px;
    line-height: 1;
  }
}
