*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-image: url(images/AGRI-BG.jpg);
    background-size: cover;
   
  
    
  }
  .container{
    border: solid inherit;
    height: 90vh;
    background-color: #725438;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1%;
    box-shadow: 3px 4px 7px rgba(5, 131, 163, 0.8);
    opacity: 0.9;
    margin-left: 25%;
    margin-right: 25%;

  
  }

  .jumbotron{
    margin-top: 1%;
    margin-bottom: -2%;
  }

  .home-btn{
    font-size: 18px;
    text-decoration: none;
    color: rgb(239, 243, 239);
    transition: 0.5s;
    text-shadow: 3px 4px 7px rgba(1, 33, 41, 0.8);

  }


 

  .home-btn:hover{
    font-size: 20px;
    color: rgb(215, 226, 215);
    text-decoration: underline;

  }

  .title{
    color: white;
    font-size: 28px;
    padding-top: 3.5%;

  }

  hr{
    height: 5%;
    color: rgb(24, 219, 24);
 
  }


form{
    border: "";
    margin-top: -4%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 0.5%;
   
    
}

.form-check label{
  font-size: 18px;
  font-weight: bold;
  color: white;

}

.row .col label{
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  font-size: 14px;
  text-shadow: 3px 4px 7px rgba(1, 33, 41, 0.8);
}

.form-check{
  margin-top: 3%;

}

.account{
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(2, 28, 34, 0.8);
}

.terms{
  font-size: 17px;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(6, 30, 36, 0.8);
  transition: 0.5s;
}

.terms:hover{
  color: rgb(211, 211, 223);
  font-size: 19px;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(6, 30, 36, 0.8);
}

a{
  font-size: 15px;
}
.form-check-label{
  font-size: 16px;
}

  
.btn-success{
 font-size: 20px;
 margin-top: 1%;
 transition: 0.5s;
}

.btn-success:hover{
  font-size: 24px;
  margin-top: 1%;
 }

p{
  padding-top: 2%;
  font-size: 18px;
color: white;
  background-color: inherit;
 
}
a{
  padding-top: 2%;
  font-size: 18px;
color: white;
  background-color: inherit;
  transition: 0.5s;

}

a:hover{
  padding-top: 2%;
  font-weight: bold;
  font-size: 20px;
color: rgb(73, 201, 73);
  background-color: inherit;

}

